<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div id="main_menu" class="darkblue make_bigger">
    <h1><span class="red make_bigger papyrus">A</span>kshay's homepage</h1>
</div>
<div id="main_content">
    <p>
        <span class="darkblue make_bigger papyrus">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Id eu nisl nunc mi ipsum. Enim nunc faucibus a pellentesque sit. Viverra maecenas accumsan lacus vel
    facilisis. Sit amet dictum sit amet justo donec enim diam vulputate. Integer quis auctor elit sed. Mauris cursus
    mattis molestie a iaculis at erat. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. A
    condimentum vitae sapien pellentesque habitant morbi tristique senectus. Fusce id velit ut tortor pretium. Ipsum
    suspendisse ultrices gravida dictum fusce ut placerat orci nulla. Nisi lacus sed viverra tellus in hac habitasse.
    Erat pellentesque adipiscing commodo elit at imperdiet dui. Tortor pretium viverra suspendisse potenti nullam ac.
    Diam vulputate ut pharetra sit amet aliquam. Tristique nulla aliquet enim tortor at auctor. Neque convallis a cras
    semper auctor neque vitae. Cras pulvinar mattis nunc sed blandit libero volutpat.
    </p>
    <p>
    <span class="darkblue make_bigger papyrus">L</span>acus sed viverra tellus in. A diam maecenas sed enim ut sem viverra aliquet. Nibh sed pulvinar proin gravida.
    Viverra justo nec ultrices dui. Eget nulla facilisi etiam dignissim diam quis enim. Nunc id cursus metus aliquam
    eleifend mi in. Feugiat nisl pretium fusce id velit ut tortor pretium viverra. Sed euismod nisi porta lorem mollis
    aliquam ut porttitor leo. Gravida dictum fusce ut placerat orci. Id volutpat lacus laoreet non curabitur gravida
    arcu ac tortor. Fusce id velit ut tortor pretium viverra suspendisse potenti nullam. Elementum eu facilisis sed odio
    morbi quis. Diam vel quam elementum pulvinar. Sed odio morbi quis commodo odio aenean sed. Volutpat est velit
    egestas dui id ornare arcu odio ut. Consectetur adipiscing elit ut aliquam purus. Nibh nisl condimentum id venenatis
    a condimentum. Mauris in aliquam sem fringilla. Consectetur purus ut faucibus pulvinar elementum integer enim.
    </p>
    <p>
    <span class="darkblue make_bigger papyrus">V</span>iverra tellus in hac habitasse platea dictumst vestibulum rhoncus. Vitae congue mauris rhoncus aenean vel elit
    scelerisque mauris pellentesque. Ultrices dui sapien eget mi proin sed libero enim. Scelerisque eu ultrices vitae
    auctor eu augue. Morbi tempus iaculis urna id volutpat. Porta non pulvinar neque laoreet suspendisse interdum
    consectetur. Varius vel pharetra vel turpis nunc eget lorem dolor. Fermentum et sollicitudin ac orci phasellus. Orci
    phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Nunc consequat interdum varius sit amet mattis
    vulputate enim nulla. Aliquet enim tortor at auctor urna nunc id.
    </p>
</div>
</body>
</html>
